.descriptionbox {
  margin: 120px 170px;
}
.descriptionbox-navigator {
  display: flex;
}
.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}
/* @media screen and (min-width: 540px){
  .navbar-nav a{
      padding-right: 1.2rem;
      padding-left: 1.2rem;
  }
  .banner-title{
      font-size: 5rem;
  }
  .banner form{
      margin-top: 1.4rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  .navbar .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .search-input{
      padding: 0.8rem 0;
  }
  .design-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .design-item{
      margin: 0;
  }
  .blog-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (min-width: 992px){
  .blog-content{
      grid-template-columns: repeat(3, 1fr);
  }
  .about-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      align-items: center;
  }
}

@media screen and (min-width: 1200px){
  .design-content{
      grid-template-columns: repeat(3, 1fr);
  }
} */